{
   "plugins": [
      [
         "module-resolver",
         {
            "root": [
               "./src"
            ],
            "alias": {
               "test": "./test",
               "reducers": "./src/reducers"
            }
         }
      ]
   ]
}